<!-- Begin Listing: using data...
listing.place
listing.locale
listing.desc
listing.imgSrc
listing.id 
-->
<div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
    <div class="media">
        <a class="pull-left" href="#" target="_parent">
            <img alt="image" class="img-responsive" src="{{listing.imgSrc}}">
        </a>

        <div class="clearfix visible-sm"></div>

        <div class="media-body fnt-smaller">
            <a href="#" target="_parent"></a>

            <h4 class="media-heading">
                <a href="#" target="_parent">$1,500,000 <small class="pull-right">{{listing.locale}}</small></a></h4>

            <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                <li>4,900 SqFt</li>

                <li style="list-style: none">|</li>

                <li>1 Beds</li>

                <li style="list-style: none">|</li>

                <li>1 Baths</li>
            </ul>

            <p class="hidden-xs">{{listing.desc}}</p>
            <span class="fnt-smaller fnt-lighter fnt-arial">{{listing.place}}</span>
        </div>
    </div>
</div>
<!-- End Listing-->
