<form name="form-get" class="bs-example" action="/basic-get" method="get" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <h3>Basic GET request</h3>
        <!-- Default panel contents -->
        <div class="panel-heading">
            <pre>RESPONSE</pre>

            <input name="input-text" type="text" value="input text here">
            <input type="radio" name="input-radio" > NO SLASH RADIO
            <input type="button" name="input-button" value="CLICK THE BUTTON">
            <hr>
            <hr>
            <input type="checkbox" name="Agree" value="yes" /> How do you rate the content at this site?
            <p>
                <input type="radio" name="rating" value="excellent">Excellent !!!
                <br/>
                <input type="radio" name="rating" value="good">Good
                <br/>
                <input type="radio" name="rating" value="bad">Bad
                <br/>
            </p>
            <!-- Enter your suggestions here:
            <textarea name="suggestions" rows="5" cols="25"></textarea>
            If you want to provide some value in the text area by default, you can give it like this:

            <textarea name="suggestions" rows="5" cols="25">my suggestions are:</textarea>
            <input type="checkbox" name="sendmail" value="send" checked="checked" /> Shipping method:
            <select name="shipping">
                <option value="1"> standard</option>
                <option value="2"> 2-day</option>
                <option value="3"> overnight</option>
            </select>
            Select your areas of interest: (hold down the ctrl key for selecting more than one)
            <br />

            <select multiple name="interests" size="4">
                <option value="arts">Arts</option>
                <option value="pol">Politics</option>
                <option value="sci">Science</option>
                <option value="comp">Computers and internet</option>
            </select> -->
            <hr>
            <input type="submit" name="submit" value="SUBMIT" />
        </div>
    </div>
</form>

<form name="form-post" class="bs-example" action="/basic-post" method="post" data-example-id="panel-without-body-with-table">
    <div class="panel panel-default">
        <h3>Basic POST request</h3>
        <!-- Default panel contents -->
        <div class="panel-heading">
            <pre>RESPONSE</pre>

            <input name="input-text" type="text" value="input text here">
            <input name="input-radio" type="radio>">
            <input name="input-button" type="button>">
            <input type="submit" name="submit" value="sign me up!" />
            <input type="checkbox" name="sendmail" value="send" checked="checked" />
        </div>
    </div>
</form>
